[Unit]
Description=VLLM CVM
After=network.target

[Service]
Type=simple
WorkingDirectory=/PATH_TO_SDK
ExecStart=/PATH_TO_SDK/meta-dstack-nvidia/scripts/bin/dstack run <CVM_NAME>
Restart=always
User=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target